body {
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.news-body {

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.categories-sidebar {
    height: 350px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); 
    margin-bottom: 10px;

  }
  